@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2:'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

html, body {
    background-color: darkgray;
    font-family: var(--font1);
}

header {
    background-color: rgba(0, 0, 0, 0.664);
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 1.5em;
}

section > p {
    margin-bottom: 2em;
}

.normal {
    background-color: white;
    color: black;
}

.imagem {
    background-color: rgb(31, 29, 29);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.637);
    background-size: cover;
    background-attachment: fixed;

}

.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.308);
    text-shadow: 2px 2px 0px black;
}

#img001 {
    background-image: url("../imagens/background001.jpg");
    background-position: right center;
}

#img002 {
    background-image: url("../imagens/background002.jpg");
    background-position: right center;
    
}


a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
    color: brown;
}


footer{
    background-color: rgba(0, 0, 0, 0.664);
    text-align: center;
    color: white;
    padding: 10px;
}